.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 3rem;
  height: 3rem;
  margin-bottom: 0.5rem;
  border-radius: 8px;
  background: var(--ifm-color-primary);
  color: white;
  font-weight: 700;
  font-size: 0.85rem;
}
